{
  "root": true,
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "commonjs": true
  },
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "prettier/prettier": ["warning", {
                "tabWidth":4,
                "semi": false,
                "singleQuote": true
            }],
    
    "no-async-promise-executor": 0,
    "semi": ["error", "never"],
    "@typescript-eslint/semi": "off"
  }
}